     <hr/>
    <footer>
      <p><a href="http://www.louding.com/" target="_blank">楼顶</a> 2014</p>
    </footer>
</div>
      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
    </body>
    </html>
